<footer>
    <div class="row">
        <div class="col-md-3 pt-2">
            <h6 class="text-danger">
                St. James Parish
            </h6>
            5800 Highway 44<br />Convent, LA 70723<br />225-562-2500
        </div>
        <div class="col-lg-7
             border-star border-dark pt-2">
            <h6 class="text-danger fontweight">
                Hours of Operation:
            </h6>
            <ul>
                <li>
                    Monday - Thursday: 7:30 am - 4:30 pm
                </li>
                <li>
                    Friday: 7:30 am - 11:30 am
                </li>
            </ul>

        </div>
        <div class="col-md-2 pt-2">
            <h6 class="text-danger">Powered by</h6>
            <a href="https://www.fusionstak.com/">
                Fusionstak LLC.
            </a>
            <h6 class="text-danger">
                © 2022 UtilityPlus System
            </h6>
            @* </span>*@

        </div>
    </div>
</footer>

